*.so
*.pyc
*.lua
tmp.xml

tensorboard
lib/build
lib/pycocotools
lib/pycocotools/_mask.c
lib/pycocotools/_mask.so
.idea

# data
data/bbox/*
data/imagenet_weights/*
data/VOCdevkit2007/
data/*
SSD/data/*

# output model
output/
