*.so
*.pyc
*.lua
tmp.xml
output/

tensorboard
lib/build
lib/pycocotools
lib/pycocotools/_mask.c
lib/pycocotools/_mask.so
.idea


data/bbox/*
data/imagenet_weights/*
data/VOCdevkit2007/
data/cache/
data/coco/
